In [1]:
# データの種類ごとにさらにモジュールを分割する

import pandas as pd
import numpy as np
import os 
import re
from datetime import datetime

#日付情報を取得
from datetime import datetime
from pytz import timezone
date_now = datetime.now(timezone('Asia/Tokyo')).strftime("%Y%m%d")

In [2]:
pd.options.display.float_format = '{:.2f}'.format

In [3]:
dir(pd.options.display)

['chop_threshold',
 'colheader_justify',
 'column_space',
 'date_dayfirst',
 'date_yearfirst',
 'encoding',
 'expand_frame_repr',
 'float_format',
 'html',
 'large_repr',
 'latex',
 'max_categories',
 'max_columns',
 'max_colwidth',
 'max_info_columns',
 'max_info_rows',
 'max_rows',
 'max_seq_items',
 'memory_usage',
 'min_rows',
 'multi_sparse',
 'notebook_repr_html',
 'pprint_nest_depth',
 'precision',
 'show_dimensions',
 'unicode',
 'width']

In [5]:
import test_module_stock

In [6]:
stock = test_module_stock.StockPreProcessing('test.csv', '/Users/yoshizawatatsuya/jupyter_workspace', 'df_3')
stock.dataframefilename

'df_3'

In [8]:
stock.read_stock()
stock.add_column_yyyymm_end()
stock.caliculate_free_onhand()
stock.caliculate_non_moving()

In [9]:
stock.dataframefilename

,test1,test2,yyyymmdd,onhand,alocated,last_out_moving,last_in_moving,yyyymm,free_onhand
0,1,2,20190101,5,2,20200501,NaN,201901E,3
1,4,6,20200201,10,2,NaN,20100101,202002E,8
2,3,2,20200201,1,0,20130805,20151215,202002E,1

In [10]:
stock.fillna_last_moving()

In [11]:
stock.dataframefilename

,test1,test2,yyyymmdd,onhand,alocated,last_out_moving,last_in_moving,yyyymm,free_onhand
0,1,2,20190101,5,2,20200501,19000101,201901E,3
1,4,6,20200201,10,2,19000101,20100101,202002E,8
2,3,2,20200201,1,0,20130805,20151215,202002E,1

In [12]:
stock.to_datetime_last_moving()

In [13]:
stock.dataframefilename

,test1,test2,yyyymmdd,onhand,alocated,last_out_moving,last_in_moving,yyyymm,free_onhand
0,1,2,2019-01-01,5,2,2020-05-01,1900-01-01,201901E,3
1,4,6,2020-02-01,10,2,1900-01-01,2010-01-01,202002E,8
2,3,2,2020-02-01,1,0,2013-08-05,2015-12-15,202002E,1